<?xml version="1.0" encoding="UTF-8"?>

<configuration> 
  <nodes local="2"/>  
  <modules> 
    <module class="GopiBugs.modules.file.openLCMSDatasetFile.OpenFile"/>  
    <module class="GopiBugs.modules.file.openGCGCDatasetFile.OpenFile"> 
      <parameters>
        <parameter name="File Name: " type="FILE_NAME">File Name</parameter>
        <parameter name="Number of Columns for Parameters: " type="INTEGER">10</parameter>
      </parameters> 
    </module>  
    <module class="GopiBugs.modules.file.openBasicFiles.OpenBasicFile"/>  
    <module class="GopiBugs.modules.exit.ExitProgram"/>  
    <module class="GopiBugs.modules.configuration.proxy.ProxyConfiguration"> 
      <parameters>
        <parameter name="Proxy server:" type="STRING"></parameter>
        <parameter name="Port:" type="STRING"></parameter>
      </parameters> 
    </module>  
    <!--  <module class="GopiBugs.modules.configuration.tables.GCGC.GCGCColumnsView"> 
      <parameters>
        <parameter name="GCGC Columns" type="MULTIPLE_SELECTION">Selection,ID,RT1,RT2,RTI,N Found,Cas Number,Max similarity,Mean similarity,Similarity std dev,Metabolite name,Metabolite all names,Class,Pubchem ID,Mass,Difference,Spectrum</parameter>
      </parameters> 
    </module>  
    <module class="GopiBugs.modules.configuration.tables.LCMS.LCMSColumnsView"> 
      <parameters>
        <parameter name="LCMS Columns" type="MULTIPLE_SELECTION">Selection,Id,Average m/z,Average Retention time,Name,All names,Identification type,PubChem ID,VTT ID,All VTT IDs,Lipid class,Num found,Standard,FA Composition,Alignment</parameter>
      </parameters> 
    </module>  -->  
    <module class="GopiBugs.modules.simulation.control.StartSimulation"> 
      <parameters>
        <parameter name="Number of iterations" type="INTEGER">100</parameter>
        <parameter name="Size of the world" type="INTEGER">100</parameter>
        <parameter name="Number of copies of bugs" type="INTEGER">3</parameter>
        <parameter name="Life of the Bugs" type="INTEGER">1000</parameter>
      </parameters> 
    </module> 
  </modules>  
  <desktop>
    <format type="m/z">
      <type>NUMBER</type>
      <pattern>#0.000</pattern>
    </format>
    <format type="Retention time">
      <type>TIME</type>
      <pattern>m:ss</pattern>
    </format>
    <format type="Intensity">
      <type>NUMBER</type>
      <pattern>0.00E0</pattern>
    </format>
    <mainwindow>
      <x>-4</x>
      <y>25</y>
      <width>-1</width>
      <height>-1</height>
    </mainwindow>
    <lastdirectory></lastdirectory>
    <lastProjectDirectory>/home/bicha/Desktop/test2.csv</lastProjectDirectory>
    <lastSaveDirectory>/</lastSaveDirectory>
    <lastMyllyDirectory>/</lastMyllyDirectory>
    <normalizationDirectory></normalizationDirectory>
    <parameter name="LCMS Columns" type="MULTIPLE_SELECTION">Selection,Id,Average m/z,Average Retention time,Name,All names,Identification type,PubChem ID,VTT ID,All VTT IDs,Lipid class,Num found,Standard,FA Composition,Alignment</parameter>
    <parameter name="GCGC Columns" type="MULTIPLE_SELECTION">Selection,ID,RT1,RT2,RTI,N Found,Cas Number,Max similarity,Mean similarity,Similarity std dev,Metabolite name,Metabolite all names,Class,Pubchem ID,Mass,Difference,Spectrum</parameter>
    <parameter name="LCMS Filename" type="FILE_NAME"/>
    <parameter name="LCMS type" type="STRING"/>
    <parameter name="Export LCMS elements" type="MULTIPLE_SELECTION">Selection,Id,Average m/z,Average Retention time,Name,All names,Identification type,PubChem ID,VTT ID,All VTT IDs,Lipid class,Num found,Standard,FA Composition,Alignment</parameter>
    <parameter name="GCGC Filename" type="FILE_NAME"/>
    <parameter name="GCGC type" type="STRING"/>
    <parameter name="Export GCGC elements" type="MULTIPLE_SELECTION">Selection,ID,RT1,RT2,RTI,N Found,Cas Number,Max similarity,Mean similarity,Similarity std dev,Metabolite name,Metabolite all names,Class,Pubchem ID,Mass,Difference,Spectrum</parameter>
    <parameter name="Filename" type="FILE_NAME"/>
    <parameter name="type" type="STRING"/>
  </desktop> 
</configuration>
