<?xml version="1.0" encoding="UTF-8"?>

<configuration> 
  <nodes local="2"/>  
  <modules> 
    <module class="GopiBugs.modules.file.openBasicFiles.training.OpenBasicFile"/>  
    <module class="GopiBugs.modules.file.openBasicFiles.validation.OpenBasicFile"/>  
    <module class="GopiBugs.modules.configuration.Configuration"> 
      <parameters>
        <parameter name="Write results" type="BOOLEAN">false</parameter>
        <parameter name="Paint simulation" type="BOOLEAN">false</parameter>
      </parameters> 
    </module>  
    <module class="GopiBugs.modules.exit.ExitProgram"/>  
    <module class="GopiBugs.modules.simulation.control.StartSimulation"> 
      <parameters>
        <parameter name="Number of iterations" type="INTEGER">50</parameter>
        <parameter name="Size of the world" type="INTEGER">50</parameter>
        <parameter name="Max number of bugs" type="INTEGER">1500</parameter>
        <parameter name="Number of copies of bugs" type="INTEGER">3</parameter>
        <parameter name="Life of the Bugs" type="INTEGER">500</parameter>
        <parameter name="Stopping criteria (%)" type="INTEGER">20</parameter>
      </parameters> 
    </module> 
  </modules>  
  <desktop>
    <mainwindow>
      <x>340</x>
      <y>25</y>
      <width>990</width>
      <height>-1</height>
    </mainwindow>
    <lastdirectory></lastdirectory>
    <lastProjectDirectory>/home/bicha/Downloads/Dataset_GCGCTOF_AA1AA2CTR.csv</lastProjectDirectory>
    <lastSaveDirectory>/</lastSaveDirectory>
    <parameter name="Filename" type="FILE_NAME"/>
    <parameter name="type" type="STRING"/>
  </desktop> 
</configuration>
